<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <form>
        <div class="form-group">
          <label for="InputUN">Kullanıcı Adı</label>
          <input
            type="text"
            class="form-control"
            id="InputUN"
            aria-describedby="InputUNAciklama"
          />
          <small id="InputUNAciklama" class="form-text text-muted"
            >Dükkancım.com admin girişi</small
          >
        </div>
        <div class="form-group">
          <label for="InputSifre">Şifre</label>
          <input type="password" class="form-control" id="InputSifre" />
        </div>
        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="kullaniciHatirla"
          />
          <label class="form-check-label" for="kullaniciHatirla"
            >Kullanıcı adımı hatırla</label
          >
        </div>
        <button type="submit" class="btn btn-dark btn-block">Giriş Yap</button>
      </form>
    </div>
  </div>
</div>
