<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../../assets/Guvenilir.jpg"
        class="d-block w-100"
        alt="Güvenilir"
      />
    </div>
    <div class="carousel-item">
      <img src="../../../assets/Elele.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="../../../assets/Birlikte.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Önceki</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Sonraki</span>
  </a>
</div>
