<div class="container dark">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" routerLink="">Dükkancım.com</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" routerLink="">Anasayfa </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                *ngIf="girisYapilmis()"
              >
                Dükkanlar
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" routerLink="dukkanlar"
                  >Dükkanlar</a
                >
                <a class="dropdown-item" href="#" routerLink="dukkanekle"
                  >Dükkan Ekle</a
                >
              </div>
            </li>
          </ul>
          <ul class="navbar-nav my-2 my-lg-0">
            <a
              class="nav-link mr-sm-2"
              href="#"
              *ngIf="!girisYapilmis()"
              routerLink="giris"
              >Giriş</a
            >
            <a
              class="nav-link mr-sm-2"
              href="#"
              *ngIf="girisYapilmis()"
              routerLink="/"
              (click)="cikisYap()"
              >Çıkış</a
            >
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
